<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- 要先引入vue.js 否则报错 -->
  <script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id='app'>
    <div class="box">
      <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="json" :autosize="{ minRows: 7,maxRows: 7}">
      </el-input>
      <el-button type="danger" plain @click="clearAll()">清空</el-button>
      <el-button type="primary" plain @click="confirm()">确定</el-button>
      <el-button type="info" plain @click="paste()">粘贴</el-button>
      <div v-if="totalPrice">总价值：<span class="keyNumber">{{totalPrice}}</span> >>> 盈利：<span class="totalPriceColor">{{profit }}</span></div>
      <p v-if="info.ticket.length">看过的门票：<span class="keyNumber ticketDom" v-for="e in info.ticket">{{e}}</span> </p>
      <div class="infoBox" v-if="info.roomInfo.length">
        <div v-for="item in info.roomInfo" v-html="item.label">
          {{item.label}}
        </div>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data () {
        return {
          json: null,
          info: {
            roomInfo: [],
            // roomInfo2: [],
            ticket: [],//门票
            avg: null,
            // totalPrice: null //房间目前人资产总价值
          },
          totalPrice:0,
          profit:null
        }

      },
      watch: {

      },
      methods: {
        // -------------解决js计算精度丢失的问题-----------------
        // add(a, b) {
        //   const precision = Math.max(this.getPrecision(a), this.getPrecision(b));
        //   const multiplier = Math.pow(10, precision);
        //   const result = (a * multiplier + b * multiplier) / multiplier;
        //   return result;
        // },
        // sub(a, b) {
        //   const precision = Math.max(this.getPrecision(a), this.getPrecision(b));
        //   const multiplier = Math.pow(10, precision);
        //   const result = (a * multiplier - b * multiplier) / multiplier;
        //   return result;
        // },
        // getPrecision (num) {
        //  const decimalPart = String(num).split('.')[1];
        //  return decimalPart ? decimalPart.length : 0;
        // },
        parseNumber (num) {
          if (typeof num !== 'number') num = parseFloat(num);
          if (Number.isNaN(num)) throw new Error('Invalid number');

          const numStr = num.toString();
          const split = numStr.split('.');
          const integerPart = split[0];
          const decimalPart = split[1] || '';
          return {
            integer: parseInt(integerPart + decimalPart, 10),
            decimalPlaces: decimalPart.length
          };
        },
        adjustNumbers (num1, num2) {
          const parsed1 = this.parseNumber(num1);
          const parsed2 = this.parseNumber(num2);

          const maxDecimalPlaces = Math.max(parsed1.decimalPlaces, parsed2.decimalPlaces);
          const factor = Math.pow(10, maxDecimalPlaces);

          const integer1 = parsed1.integer * Math.pow(10, maxDecimalPlaces - parsed1.decimalPlaces);
          const integer2 = parsed2.integer * Math.pow(10, maxDecimalPlaces - parsed2.decimalPlaces);

          return { integer1, integer2, factor };
        },
        preciseAdd (num1, num2) {
          const { integer1, integer2, factor } = this.adjustNumbers(num1, num2);
          return (integer1 + integer2) / factor;
        },
        preciseSubtract (num1, num2) {
          const { integer1, integer2, factor } = this.adjustNumbers(num1, num2);
          return (integer1 - integer2) / factor;
        },
        preciseMultiply (num1, num2) {
          const parsed1 = this.parseNumber(num1);
          const parsed2 = this.parseNumber(num2);
          const integerResult = parsed1.integer * parsed2.integer;
          const decimalAdjustment = parsed1.decimalPlaces + parsed2.decimalPlaces;
          return integerResult / Math.pow(10, decimalAdjustment);
        },
        preciseDivide (num1, num2) {
          const { integer1, integer2 } = this.adjustNumbers(num1, num2);
          if (integer2 === 0) throw new Error('Division by zero');
          return integer1 / integer2;
        },
        // ----------------------------------------------------
        clearAll(){
          this[`json`] = null
          this[`info`] = this.$options.data()[`info`];
          this[`totalPrice`] = 0
          this[`profit`] = null
          console.clear()
        },
        paste(){
          this.info.roomInfo = []
          // 执行粘贴操作
          navigator.clipboard.readText()
            .then(pastedText => {
              this[`json`] = pastedText; // 将粘贴的内容赋值给文本框
              // this[`info${type}`] = this.$options.data()[`info${type}`];
              this.confirm()
            })
            .catch(error => {
              console.error('粘贴操作失败:', error);
            });
        },
        confirm(){
          if(!this.json) return
          let obj = JSON.parse(this.json).data 
          let total_seat  =obj.user_num //总席位
          let now_seat = obj.game_arena_player.length
          let total_price = 0

          obj.game_arena_player.sort((a, b) => a.seat - b.seat);
          obj.game_arena_player.forEach((e, i) => {
            // 席位(用户)
            let count = 0
            e.game_award.forEach((e2, i2) => {
              // 回合(箱子)
              let findBoxObj = obj.game_arena_box.find(b => b.box_id == e2.box_id)
              let findPrice = findBoxObj.box.contains.find(p => p.skin_id == e2.award_id)
              if (findPrice) {
                // count += Number(findPrice.skins.bean)
                // count = this.add(count,Number(findPrice.skins.bean))//解决精度丢失
                count = this.preciseAdd(count, Number(findPrice.skins.bean)).toFixed(2)
                // console.log(`席位${e.seat + 1}>>回合${i2 + 1}>>价值:${findPrice.skins.bean}${i2 + 1 == e.game_award.length ? '\xa0\xa0>>>席位' + (e.seat + 1) + '总价值：' + count + '\n' : ''}`);
                const infoItem = `<p>席位${e.seat + 1}>>回合${i2 + 1}>>【${e2.box.name}-${Number(e2.box.game_bean)||Number(e2.box.bean) }】>>价值:<span class='keyNumber'>${findPrice.skins.bean}</span>  ${i2 + 1 == e.game_award.length ? '\xa0\xa0>>>席位' + (e.seat + 1) + '总价值：' + '<span class=totalPriceColor>' + count + '</span>' + '\n<br/><br/>' : ''}</p>`
           
                // this.info.roomInfo.push(infoItem)
                if (this.info.roomInfo.find(i => i.id == String(e2.id))) return;//如果找到 就是重复了
                this.info.roomInfo.push({ label: infoItem, id: String(e2.id) })

                if(i2 + 1 == e.game_award.length){ //计算总价值
                  // total_price = this.add(total_price, count)//解决精度丢失
                   total_price = this.preciseAdd(total_price, count)

                  // if(i + 1 == obj.game_arena_player){ //判断席位满了才开始算
                    if(total_seat== now_seat){
                    this.totalPrice = total_price
                    // this.profit = this.sub(total_price, obj.total_bean)  //盈利
                    this.preciseSubtract(total_price, obj.total_bean)
                    // console.log('552412>', this.totalPrice);
                  }
                }
              }
            })
          })
          //  this.info.ticket.push(obj.total_bean)
           this.info.ticket.push(this.info.ticket.length === 0 ? '' : ', ', obj.total_bean)
        },
      }
    })

  </script>
</body>

</html>
<style>
  html {
    background: #8a8a7c;
  }
  .keyNumber {
    color: #a61818;
  }
  .totalPriceColor{
    color: blue;
  }
  p .ticketDom:last-child{
    color: blue;
  }
</style>